.body {
  &-footer {
    padding-top: 15rem;
    clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
    background-color: $color-primary-bg-3;

    .footer-base {
      margin-top: 5rem;
      background-color: $color-primary-bg-4;

      .wrap-container {
        @media (min-width: 583px) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        @media (max-width: 582px) {
          text-align: center;
        }
        .row {
          ul {
            padding: 2rem;
          }
        }
      }

      &__list {
        font-size: 1.4rem;
        color: $color-white;
        font-family: $font-primary;
        @media (max-width: 583px) {
          padding-bottom: 1rem;
        }
      }
      &__link {
        font-family: $font-primary;
        color: $color-gray-light-1;
        display: inline-block;
        border-bottom: 1px solid rgba($color-white, 0.4);
      }
    }
  }
}

.social-media{
  ul {
    li{
      margin-right: 2rem;
      display: inline;
      
    }
  }
}