.body-header {
  // @include bgheader;
  @include bg-1;
  width: 100%;
  // position: absolute;
  // top: 0;
  // background-color: rgba($color-white, 0.8);
  // z-index: 2;

  & > .wrap-container {
    @media (min-width: 582px) {
      // display: flex;
      // flex-direction: row;
      // justify-content: space-between;
      // align-items: center;
    }
  }
}

.header {
  &-brand {
    padding: 0 0 1rem;
    @media (min-width: 583px){
      height: 8rem;
      position: relative;
    }
    @media (max-width: 582px) {
      padding-top: 1rem;
    }
    img {
      @media (min-width: 583px){
        height: 10rem;
        position: absolute;
        top: -3rem;
      }
      @media(max-width: 582px){
        height: 8rem;
        
      }
     
    }
    &-section {
      padding: 0;

      & > .wrap-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      ul {
        li {
          font-size: 1.5rem;
        }
      }
    }
  
  }

  &-profile {
    padding-top: 0.5rem;
    margin-left: 4rem;
    text-align: right;
    text-transform: capitalize;

    .fa-user {
      margin-right: 1rem;
    }
  }

  &-top {
    .wrap-container {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      @media (max-width: 582px) {
        display: none;
        width: 70%;
        position: absolute;
        top: 10px;
        // left: 25%;

        // @include radius-direction(0, 0, 1rem, 1rem);
        // border-right: 1px solid #cacaca;
        // border-bottom: 1px solid #cacaca;
        // border-left: 1px solid #cacaca;
        // @include shadow-custom(0, 0, 2px, 0.4);
        // z-index: 1000;
      }
    }
    ul {
      margin: 0;
      padding: 0 2rem;
      height: 43px;
      // background-color: #e7e7e7;
      background-color: #f5f5f5;
      // @include bg-1;
      @include shadow;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      @media (min-width: 583px) {
        padding: 0.4rem 1.5rem;
        min-width: 130px;
        @include radius-direction(0, 0, 1rem, 1rem);
        border-right: 1px solid #cacaca;
        border-bottom: 1px solid #cacaca;
        border-left: 1px solid #cacaca;
        @include shadow-custom(0, 0, 2px, 0.4);
        // flex-wrap: wrap;
      }
    }

    .social {
      &__list {
        margin-left: 1.5rem;
        padding-top: 0.2rem;

        &:first-child {
          margin-left: 0;
        }
      }

      &__link {
        font-size: 1.8rem;
        img {
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }

  &-right {
    ul {
      @media (min-width: 583px) {
        // width: 200px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        // flex-wrap: wrap;
      }
    }

    .social {
      &__list {
        margin-left: 1.5rem;
      }

      &__link {
        font-size: 2.2rem;
        img {
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }

  &__nav {
    background: $color-primary-button;
    border-top: 1px solid $color-black;
    border-bottom: 1px solid $color-black;

    @media (max-width: 582px) {
      display: none;
      width: 100%;
      height: 100vh;
      padding-top: 10rem;
      background-color: $color-primary;
      // clip-path: polygon(100% 0, 100% 83%, 27% 100%, 0 65%, 0 0);
      // clip-path: ellipse(58% 74% at 62% 25%);
      clip-path: circle(75.3% at 65% 24%);
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 101;
    }
    & > .wrap-container {
      @media (min-width: 583px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    nav {
      @media (max-width: 582px) {
        // margin-bottom: 20px;
        padding-bottom: 1rem;
        // border-bottom: 2px solid $color-primary;
      }
    }

    ul {
      @media (min-width: 583px) {
        padding: 0.2rem 0 0.1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
      }

      @media (max-width: 582px) {
      }
    }
  }

  &__profile {
    font-size: 1.4rem;
    position: absolute;
    top: 0.5rem;
    right: 5%;
    i {
      padding-right: 0.5rem;
      color: $color-gray-dark-1;
    }
  }
}

.nav {
  &__link {
    @include shadow-text(0, 0, 2px, 0.5);

    @media (min-width: 583px) {
      @include post-head;
      display: inline-block;
      @include hover-transition(500ms);
      padding: 0.2rem 2rem;
    }

    @media (max-width: 582px) {
      background-color: $color-primary;
      padding: 0.5rem 2rem;
    }

    &:hover {
      @media (min-width: 583px) {
        @include post-head-hover;
        @include hover-transition(500ms);
      }
    }

    @media (max-width: 582px) {
      display: block;
      width: 95%;
      margin: 0 auto;
    }
  }

  &__list {
    @media (max-width: 582px) {
      padding: 0.1rem 0;
    }

    & + li {
      @media (min-width: 583px) {
        margin-left: 0.1rem;
      }
    }
  }
}

.nav-active {
  @media (min-width: 583px) {
    @include post-head-hover;
  }
}

.hamberger {
  animation-duration: 1.8s;
  animation-name: moveInRight;
  animation-timing-function: ease-out;
  &__line {
    width: 2.5rem;
    height: 0.2rem;
    background-color: $color-white;
    display: block;
    margin: 0.5rem auto;

    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  @media (min-width: 582px) {
    display: none;
  }

  @media (max-width: 581px) {
    @include shadow;
    background-color: $color-btn-1;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding-top: 1.2rem;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // padding-right: 1rem;
    position: fixed;
    top: 2rem;
    right: 4%;
    z-index: 999;
  }

  @media (min-width: 582px) {
    top: 7.5rem;
  }
}

.hamberger.is__active {
  .hamberger {
    &__line {
      margin: 0 auto 11px;
    }

    &__line:nth-child(2) {
      opacity: 0;
    }

    &__line:nth-child(1) {
      -webkit-transform: translateY(13px) rotate(45deg);
      -ms-transform: translateY(13px) rotate(45deg);
      -o-transform: translateY(13px) rotate(45deg);
      transform: translateY(13px) rotate(45deg);
    }

    &__line:nth-child(3) {
      -webkit-transform: translateY(-13px) rotate(-45deg);
      -ms-transform: translateY(-13px) rotate(-45deg);
      -o-transform: translateY(-13px) rotate(-45deg);
      transform: translateY(-13px) rotate(-45deg);
    }
  }
}

.top-header {
  ul {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    li {
      margin-right: 1rem;
    }
  }
}

.member-body-header {
  width: 100%;
  position: absolute;
  top: 0;
}

.top-social-media {
  @media (max-width: 582px) {
    display: none;
  }
}
.nav-social-media {
  @extend .social-media;
  @media (max-width: 582px) {
    background-color: $color-primary;
    padding: 1.5rem 0;
    margin: 0 2%;
  }

  ul li {
    &:first-child {
      font-size: 1.5rem;
      @media (max-width: 582px) {
        display: block;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid $color-primary-button-border;
        text-align: center;
      }
    }
    .log {
      line-height: 4rem;
      font-size: 2rem;
      color: $color-black;
    }

    .main__header {
      .wrap-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  }
}

.main__header {
  .wrap-container {
    @media (min-width: 583px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}

.section__header-search {
  margin-bottom: 1rem;
  .header {
    &-search {
      position: relative;
    }
    &-search__form {
      width: 100%;
    }

    &-search__input {
      width: 300px;
      padding: 0.4rem;

      @media (max-width: 582px) {
        width: 100%;
      }
    }

    &-search__button {
      position: absolute;
      top: 6px;
      right: 8px;
      color: $color-primary;
      font-size: 1.7rem;
      border: none;
    }
  }
}

.member-body-header {
  padding-top: 1rem;
  .login {
    @media (min-width: 583px) {
      display: none;
    }
  }
}

// home page header
.header-brand-private {
    @media (min-width: 583px){
      height: 6.5rem;
    }
  img {
    @media (min-width: 583px){
      height: 8rem;
      position: absolute;
      top: -3rem;
    }
   
  }
}