// .primary-text {
//   font-family: $font-primary;
// }

p {
  font: {
    family: $font-primary;
    size: 1.4rem;
    weight: 400;
  }
  line-height: 2.4rem;
  color: $color-primary-1;
}

.text-primary-h {
  font: {
    family: $font-header-1;
    size: 3.5rem;
    weight: 600;
  }
  color: $color-primary;
}

.text-secondary-h {
  font: {
    family: $font-header-2;
    size: 2.4rem;
    weight: 400;
  }
  color: $color-primary;
}

.text-sub-primary {
  font: {
    family: $font-header-2;
    size: 1.8rem;
    weight: 400;
  }
  color: $color-gray-dark-1;
  line-height: 2.8rem;
}

.highlight {
  &-primary {
    font: {
      weight: 700;
    }
    color: $color-link-1;
    border-bottom: 0.2rem solid $color-link-1;
  }

  &-secondary {
    font: {
      weight: 700;
    }
    color: $color-gray-dark-1;
  }
}

.note-primary {
  color: $color-gray-dark-1;
}

.nav {
  &__list {
    font-family: $font-primary;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  &__link {
    font-family: $font-primary;
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-primary;
    text-transform: capitalize;

    &:hover {
      // color: rgba($font-primary, 0.8);
    }
  }
}

.banner-content__header {
  h5 {
    line-height: 3.5rem;
  }
}

// testimonial

.testimonial {
  &-client {
    &-name {
      cite {
        font: {
          family: $font-primary;
          size: 1.8rem;
          weight: 400;
        }
        color: $color-primary;
      }
    }
    &-place {
      font: {
        family: $font-primary;
        size: 1.2rem;
        weight: 500;
      }
      color: $color-gray-dark-1;
    }
  }
}

// profile

.article-info {
  ul {
    li:first-child {
      @extend .text-primary;
      font: {
        size: 1.8rem;
        weight: 400;
      }
    }
  }
}

label {
  font: {
    family: $font-primary;
    size: 1.6rem;
  }
}

//footer
.social__link{
  font:{
    size: 1.9rem;
  }
  color: white;
}