.txt-primary {
  color: $color-primary;
}

.txt-secondary {
  color: $color-primary-1;
}

.text-link-1 {
  font-size: 1.7rem;
  font-family: $font-primary;
  font-weight: 400;
}

p {
  font: {
    family: $font-primary;
    size: 1.7rem;
    weight: 400;
  }
  line-height: 2.4rem;
  color: $color-primary-text;
}

.text-primary-h {
  font: {
    family: $font-header-1;
    size: 3.5rem;
    weight: 600;
  }
  color: $color-primary;
}

.text-secondary-h {
  font: {
    family: $font-header-2;
    size: 2.4rem;
    weight: 400;
  }
  color: $color-primary;
}
.text-primary-h-3 {
  font: {
    family: $font-header-2;
    size: 3.4rem;
    weight: 700;
  }
  color: $color-primary-header;
}

.text-sub-primary {
  font-family: $font-header-2;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.highlight {
  &-primary {
    font: {
      family: $font-primary;
      weight: 700;
    }
    color: $color-primary;
  }

  &-secondary {
    font: {
      weight: 700;
    }
    color: $color-gray-dark-1;
  }
}

.note-primary {
  color: $color-gray-dark-1;
}

.nav {
  &__list {
    font-family: $font-primary;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  &__link {
    font-family: $font-primary;
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-white;
    text-transform: capitalize;

    &:hover {
      color: $color-white;
    }
  }
}

.sub-nav {
  &__list {
    font-family: $font-primary;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  &__link {
    font-family: $font-primary;
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-white;
    text-transform: capitalize;

    &:hover {
      color: $color-white;
    }
  }
}

.banner-content__header {
  h5 {
    line-height: 3.5rem;
    color: $color-primary-text;
    font: {
      family: $font-header-2;
      size: 2.4rem;
      weight: 400;
    }
  }

  .extra-b {
    font-weight: 700;
    font-size: 3.8rem;
  }

  .text-primary-h-1 {
    font-size: 2.5rem;
    font-weight: 700;

    color: $color-primary;
  }

  .text-secondary-h-2 {
    color: #333;
    font: {
      family: $font-header-2;
      size: 2.4rem;
      weight: 400;
    }
  }
}

// span heading
// .text

// testimonial

.testimonial {
  &-client {
    &-name {
      cite {
        font: {
          family: $font-primary;
          size: 1.8rem;
          weight: 400;
        }
        color: $color-primary;
      }
    }
    &-place {
      font: {
        family: $font-primary;
        size: 1.2rem;
        weight: 500;
      }
      color: $color-gray-dark-1;
    }
  }
}

// profile

.article-info {
  ul {
    li:first-child {
      @extend .text-primary;
      font: {
        size: 1.8rem;
        weight: 400;
      }
    }
  }
}

label {
  font: {
    family: $font-primary;
    size: 1.6rem;
  }
}

//footer
.social__link {
  font: {
    size: 1.9rem;
  }
  color: $color-white;
}

// random
.f-link {
  color: $color-primary;
}
.note-1 {
  color: $color-primary-text;
  font: {
    family: $font-primary;
    weight: 500;
    size: 2rem;
  }
}

// post
.post-header-typo {
  font-size: 2rem;
  font-weight: 500;
  color: $color-white;
}
