*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "open sans";
}

a {
  font-family: "open sans";
}

a:hover {
  text-decoration: none;
}

.wrap-container {
  width: 95%;
  margin: 0 auto;
}

.body-header {
  padding: 0;
  box-shadow: 0 0.125rem 0.625rem rgba(90, 97, 105, 0.12);
}

.body-header .wrap-header {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-brand {
  text-align: center;
  width: 237px;
  height: 100%;
  font-size: 18px;
  border-right: 2px solid #f7f7f7;
  background-color: #c4183c;
}

.header-brand a {
  color: #fff;
  line-height: 50px;
}

.header__nav {
  width: 100%;
}
.header__nav > ul {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f7f7f7;
}
.header__nav > ul > li:first-child {
  width: 80%;
}

.header__nav > ul > li:last-child {
  margin-right: 2rem;
}
.header-search {
  position: relative;
}
.search__input {
  height: 50px;
  width: 100%;
  font-size: 18px;
  padding-left: 45px;
  line-height: 22px;
  border: none;
}
.header-search-btn {
  position: absolute;
  left: 12px;
  top: 22px;
  font-size: 18px;
  color: #686464;
}

.sub__nav {
  position: relative;
  display: none;
}
.sub__nav ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 50px;
}
.sub__nav-list {
  padding: 0 20px 12px;
  margin-bottom: 15px;
  border-bottom: 1px solid gray;
}
.nav__link-i {
  font-size: 18px;
  color: #c4183c;
}

.profile__image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(216, 184, 103);
}

/* ******************************************************

    body container 
    
************************************************************/
.body-container__main {
  display: grid;
  grid-template-columns: 200px auto;
}

.primary-text {
  padding-bottom: 20px;
  font-size: 18px;
  color: #818ea3;
  font-weight: 600;
}

.page-header {
  padding: 20px 0;
}

.header-text-1 {
  color: #818ea3;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.header-text-2 {
  display: inline-block;
  color: #3d5170;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}

.header-text-3 {
  color: #3d5170;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  padding-bottom: 20px;
}

.sub-header-text-1 {
  color: #818ea3;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}
/* ******************************************************

    body container left 
    
************************************************************/
.side-main__nav {
  padding-top: 20px;
}
.side-nav__list {
  border-bottom: 1px solid #e1e5eb;
}

.side-nav__link,
.side-sub-nav__link {
  padding: 15px 0 10px 20px;
  /* color: #007bff; */
  color: #3d5170;
  border-left: 4px solid #fbfbfb;

  background-color: #fbfbfb;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.6px;
  white-space: nowrap;
  min-width: 100%;
  max-width: 100%;
  transition: transform 400ms ease-in-out;
  position: relative;
}

.side-nav__list i {
  position: absolute;
  right: 20px;
  top: 14px;
  font-size: 24px;
}

.side-sub-nav {
  display: none;
}

.side-nav__link:hover,
.side-sub-nav__link:hover {
  border-left: 4px solid #c4183c;
  color: #c4183c;
  /* transition: box-shadow 0.2s ease, color 0.2s ease, background-color 0.2s ease; */
}

.side-sub-nav__link {
  padding-left: 40px;
}

.active {
  /* border-left: 2px solid #007bff; */
  border-left: 4px solid #c4183c;
  color: #c4183c;
}

.sub_active {
  color: #c4183c;
}

.body-container-left {
  /* background-color: #2c2f44; */
  height: 100vh;
  box-shadow: 0 0.125rem 9.375rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.5rem rgba(90, 97, 105, 0.12),
    0 0.9375rem 1.375rem rgba(90, 97, 105, 0.1),
    0 0.4375rem 2.1875rem rgba(165, 182, 201, 0.1);
  /* width: 320px;     */
}
.side-main__nav {
  height: 100vh;
  /* width: 320px;     */
  /* position: fixed; */
}

/* ******************************************************

    body container right
    
************************************************************/
.body-container-right {
  /* width: 100%; */
  background-color: rgba(90, 97, 105, 0.1);
}

.dashboard-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard-top article {
  width: 30%;
  padding: 50px 30px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 3 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgb(90 95 105 / 12%),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);

  text-transform: capitalize;
}

.dashboard-top p {
  font-size: 30px;
  color: #3d5170;
  font-weight: 700;
}

/* profile */
.member-left {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 3 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgb(90 95 105 / 12%),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  text-align: center;
  padding: 30px 10px;
}

.member-right {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 3 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgb(90 95 105 / 12%),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  padding: 30px;
}

.member-right header {
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 20px;
}

.member-right li {
  color: #3d5170;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.6px;
  margin-bottom: 15px;
}

.member-right li .col-3 {
  font-weight: 600;
  text-transform: capitalize;
}

.member__img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
}

.member-active {
  display: inline-block;
  padding: 7px 18px;
  border: 1px solid #858585;
  color: #858585;
  font-size: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.member-nonactive {
  display: inline-block;
  padding: 7px 18px;
  border: 1px solid #c4183c;
  color: #c4183c;
  font-size: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.member-nonactive:hover {
  opacity: 0.7;
  color: #c4183c;
}

.wrap-table {
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 3 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgb(90 95 105 / 12%),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  text-align: center;
  padding: 30px 10px;
}

/* *********************

    section faq

************************ */
.section-faq {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 3 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgb(90 95 105 / 12%),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  padding: 30px;
}

.section-faq header {
  position: relative;
  padding: 10px 2rem;
  font-size: 17px;
  color: #686464;
}

.section-faq .toggle__btn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.section-faq .fa {
  font-size: 20px;
  color: red;
}

.section-faq i::before {
  content: "";
  height: 30px;
  width: 1px;
  background-color: #dadada;
  position: absolute;
  right: 30px;
  top: -8px;
}

.section-faq footer {
  padding: 20px 20px 10px;
  display: none;
  background-color: #fff;
  font-size: 16px;
}
