*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "open sans";
}

a {
  font-family: "open sans";
}

a:hover {
  text-decoration: none;
}

.wrap-container {
  width: 95%;
  margin: 0 auto;
}

.wrap-section {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 3 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgb(90 95 105 / 12%),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  padding: 30px;
}

.body-header {
  padding: 0;
  box-shadow: 0 0.125rem 0.625rem rgba(90, 97, 105, 0.12);
}

.body-header .wrap-header {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-brand {
  text-align: center;
  width: 237px;
  height: 100%;
  font-size: 18px;
  border-right: 2px solid #f7f7f7;
  background-color: #c4183c;
}

.header-brand a {
  color: #fff;
  line-height: 50px;
}

.header__nav {
  width: 100%;
}
.header__nav > ul {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f7f7f7;
}
.nav__list:first-child {
  width: 80%;
}

.nav__list:last-child {
  margin-top: 18px;
  margin-right: 2rem;
}

.nav__list > .nav__link {
  font-size: 14px;
  color: #c4183c;
}

.nav__list {
  margin-top: 20px;
  position: relative;
}

.header-search {
  position: relative;
}
.search__input {
  height: 36px;
  width: 100%;
  font-size: 18px;
  padding-left: 45px;
  line-height: 22px;
  border: none;
  /* color: #858585; */
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.6px;
}
.search__input:focus {
  border-color: #e7e7e7;
}
.header-search-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 5px;
  left: 12px;
  font-size: 18px;
  color: #dadada;
}

.header-search-btn:hover {
  color: #dadada;
  border: none;
  background-color: transparent;
}

.header-search-btn > .fa-search {
  /* background-color: #ffffff; */
}

.sub__nav {
  width: 100%;
  display: none;
  position: absolute;
  top: 40px;
  right: 0;

  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 3 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgb(90 95 105 / 12%),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  text-align: right;
}
.sub__nav-list {
  padding: 5px 20px;
  margin-bottom: 1px;
  background-color: #fff;
}

.sub__nav-link {
  font-size: 13px;
}
.nav__link-i {
  font-size: 18px;
  color: #dadada;
}

.profile__image {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  border-radius: 50%;
}

/* ******************************************************

    body container 
    
************************************************************/
.body-container__main {
  display: grid;
  grid-template-columns: 300px auto;
}

.primary-text {
  padding-bottom: 20px;
  font-size: 18px;
  color: #818ea3;
  font-weight: 600;
}

.page-header {
  padding: 20px 0;
}

.header-text-1 {
  color: #818ea3;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.header-text-2 {
  display: inline-block;
  color: #3d5170;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}

.header-text-3 {
  padding-bottom: 20px;
  color: #3d5170;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}

.sub-header-text-1 {
  color: #818ea3;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}
/* ******************************************************

    body container left 
    
************************************************************/
.side-main__nav {
  padding-top: 20px;
}
.side-nav__list {
  border-bottom: 1px solid #e1e5eb;
}

.side-nav__link,
.side-sub-nav__link {
  min-width: 100%;
  max-width: 100%;
  padding: 15px 0 10px 20px;
  border-left: 4px solid #fbfbfb;
  background-color: #fbfbfb;
  display: inline-block;
  color: #3d5170;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.6px;
  white-space: nowrap;
  transition: transform 400ms ease-in-out;
  position: relative;
}

.side-nav__list i {
  right: 20px;
  top: 14px;
  font-size: 24px;
  position: absolute;
}

.side-sub-nav {
  display: none;
}

.side-nav__link:hover,
.side-sub-nav__link:hover {
  border-left: 4px solid #c4183c;
  color: #c4183c;
}

.side-sub-nav__link {
  padding-left: 40px;
}

.active {
  border-left: 4px solid #c4183c;
  color: #c4183c;
}

.sub_active {
  color: #c4183c;
}

.body-container-left {
  height: 100vh;
  box-shadow: 0 0.125rem 9.375rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.5rem rgba(90, 97, 105, 0.12),
    0 0.9375rem 1.375rem rgba(90, 97, 105, 0.1),
    0 0.4375rem 2.1875rem rgba(165, 182, 201, 0.1);
}
.side-main__nav {
  height: 100vh;
}

/* ******************************************************

    body container right
    
************************************************************/
.body-container-right {
  background-color: rgba(90, 97, 105, 0.1);
}

.dashboard-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard-top article {
  width: 30%;
  padding: 50px 30px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 3 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgb(90 95 105 / 12%),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);

  text-transform: capitalize;
}

.dashboard-top p {
  font-size: 30px;
  color: #3d5170;
  font-weight: 700;
}

/* profile */
.member-left {
  padding: 30px 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 3 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgb(90 95 105 / 12%),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  text-align: center;
}

.member-right {
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 3 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgb(90 95 105 / 12%),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}

.member-right header {
  margin-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
}

.member-right li {
  margin-bottom: 15px;
  color: #3d5170;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.6px;
}

.member-right li .col-3 {
  font-weight: 600;
  text-transform: capitalize;
}

.member__img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
}

.member-active {
  margin-bottom: 20px;
  padding: 7px 18px;
  display: inline-block;
  border: 1px solid #858585;
  border-radius: 20px;
  color: #858585;
  font-size: 15px;
}

.member-nonactive {
  margin-bottom: 20px;
  padding: 7px 18px;
  border: 1px solid #c4183c;
  border-radius: 20px;
  display: inline-block;
  color: #c4183c;
  font-size: 15px;
}

.member-nonactive:hover {
  opacity: 0.7;
  color: #c4183c;
}

.wrap-table {
  padding: 30px 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 3 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgb(90 95 105 / 12%),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  text-align: center;
}

/* *********************

    section faq

************************ */
.section-faq {
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 3 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgb(90 95 105 / 12%),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}

.section-faq header {
  padding: 10px 2rem;
  font-size: 17px;
  color: #686464;
  position: relative;
}

.section-faq .toggle__btn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.section-faq .fa {
  font-size: 20px;
  color: red;
}

.section-faq i::before {
  content: "";
  height: 30px;
  width: 1px;
  background-color: #dadada;
  position: absolute;
  right: 30px;
  top: -8px;
}

.section-faq footer {
  padding: 20px 20px 10px;
  display: none;
  background-color: #fff;
  font-size: 16px;
}

.tab-detail {
  display: none;
}
.active-tab-detail {
  display: block;
}

.header-tab-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 30px;
}

.header-tab__button {
  background-color: #c4183c;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #c4183c;
  text-transform: capitalize;
  cursor: pointer;
}

.header-tab__button:first-child {
  border-radius: 5px 0 0 5px;
  margin-right: 1px;
}

.header-tab__button:last-child {
  border-radius: 0 5px 5px 0;
  margin-left: 1px;
}

.header-tab__button:hover,
.active-tab {
  background-color: #e7e7e7;
  color: #c4183c;
  border: 1px solid #c4183c;
}
