*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    list-style: none;

}
.body-header{
    padding: 0;
}

.wrap-container{
    flex-wrap: wrap;
    box-shadow: 0 2px 20px rgba(0,0,0,0.1);
    text-align: center;

}
.header-brand{
    width: 20%;
    padding-bottom: 20px;
    font-size: 1.5rem;
    padding-top: 1rem;
    
}
.header__nav{
    width: 80%;
    flex-wrap: wrap;
}
.header__nav ul{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}
ul li:first-child{
    width: 70%;
    display: inline-flex;
}
input{
    width: 100%;
    border: none;
}
sub{
    display: none;
}
.body-container-left{
    width: 20%;
}