.button {
  &-primary {
    padding: 0.8rem 4rem;
    // background-color: $color-btn-1;
    border-radius: 0.6rem;
    display: inline-block;
    color: $color-white;
    font-family: $font-primary;
    font-size: 1.7rem;
    font-weight: 400;
    border: 1px solid $color-primary-button-border;
    font-size: 18px;
    background: $color-primary-button;

    &:hover {
      // background-color: rgba($color-btn-1, 0.9);
      color: $color-white;

      background: $color-primary-button-hover;

    }
  }

  &-secondary {
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: $color-btn-1;
    display: inline-block;
    color: $color-white;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &-special {
    padding: 12px 45px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 12px;
    font-family: $font-primary;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 300ms ease-in;

    background: #8aafff;
    background: -moz-linear-gradient(
      left,
      #5388fe 0%,
      #8aafff 41%,
      #5388fe 100%
    );
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, #5388fe),
      color-stop(41%, #8aafff),
      color-stop(100%, #5388fe)
    );
    background: -webkit-linear-gradient(
      left,
      #5388fe 0%,
      #8aafff 41%,
      #5388fe 100%
    );
    background: -o-linear-gradient(left, #5388fe 0%, #8aafff 41%, #5388fe 100%);
    background: -ms-linear-gradient(
      left,
      #5388fe 0%,
      #8aafff 41%,
      #5388fe 100%
    );
    background: linear-gradient(
      to right,
      #5388fe 0%,
      #8aafff 41%,
      #5388fe 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5388fe', endColorstr='#5388fe', GradientType=1 );
    border-color: #5388fe;

    &:hover {
      color: $color-white;
      background: #8aafff;
    }
  }

  &-text-1 {
    padding: 0 3px;
    border-bottom: 1px solid $color-btn-1;
    color: $color-btn-1;
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 500;
  }
}
