.section{
    &-faq-body{
        header{
            position: relative;
            padding: 2rem ;
            font:{
                family:$font-primary;
                size: 2rem;
            }
            color: $color-gray-dark-1;
        }

        .toggle__btn{
            position: absolute;
            top: 2.2rem;
            right: 3rem;
            i{
                font:{
                    size: 2.5rem;
                }
            }
        }
        footer{
            padding: 2rem;
            display: none;
        }
    }
}