/*
    banner search form
*/

.banner {
  &__form {
    padding-top: 5rem;
    padding-bottom: 2rem;
    position: relative;

    @media (min-width: 583px) {
      width: 70%;
    }

    @media (max-width: 582px) {
      width: 100%;
      margin: 0 auto;
    }
  }

  &-search {
    width: 100%;
    padding: 1rem 3.5rem 1rem 1rem;
    border-radius: 0.4rem;
    border: 0.2rem solid $color-primary;
    font: {
      size: 1.7rem;
      weight: 400;
    }
    color: $color-primary;
    letter-spacing: 1px;
  }

  &__button {
    position: absolute;
    right: 1.4rem;
    bottom: 2.9rem;
    background-color: transparent;
    border: none;
    font: {
      size: 2rem;
    }
    color: $color-btn-1;
  }
}

.section {
  &-profile-update {
    .section-body {
      display: block;

      @media (min-width: 768px) {
        max-width: 80%;
        margin: 0 auto;
      }
    }
  }

  &__form {
    article {
      margin-bottom: 5rem;
    }

    .article {
      &__header {
        padding: 1rem 1rem;
        text-transform: capitalize;
      }

      &-body {
        padding: 1rem 1rem;
      }
    }
    input {
      padding: 1.7rem 1rem;

      &::placeholder {
        font-size: 1.5rem;
      }
    }
    textarea {
      height: 15rem;
      padding: 1.3rem 1rem;
      &::placeholder {
        font-size: 1.5rem;
      }
    }
  }
}
.form-check-label {
  line-height: 1.7rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.label {
  font-size: 1.5rem;
  color: red;
}
