/*
    banner search form
*/

// .banner {
//   &__form {
//     padding-top: 5rem;
//     padding-bottom: 2rem;
//     position: relative;

//     @media (min-width: 583px) {
//       width: 70%;
//     }

//     @media (max-width: 582px) {
//       width: 100%;
//       margin: 0 auto;
//     }
//   }

//   &-search {
//     width: 100%;
//     padding: 1rem 3.5rem 1rem 1rem;
//     border-radius: 0.4rem;
//     border: 0.2rem solid $color-primary-1;
//     font: {
//       size: 1.7rem;
//       weight: 400;
//     }
//     color: $color-primary-text;
//     letter-spacing: 1px;
//   }

//   &__button {
//     background-color: transparent;
//     border: none;
//     position: absolute;
//     right: 1.4rem;
//     bottom: 2.9rem;

//     font: {
//       size: 20rem;
//     }
//     color: $color-btn-1;
//   }
// }

.section {
  &-profile-update {
    .section-body {
      display: block;

      @media (min-width: 768px) {
        max-width: 80%;
        margin: 0 auto;
      }
    }
  }

  &__form {
    article {
      margin-bottom: 5rem;
    }

    .article {
      &__header {
        padding: 1rem 1rem;
        text-transform: capitalize;
      }

      &-body {
        padding: 1rem 1rem;
      }
    }
    input {
      padding: 1.7rem 1rem;

      &::placeholder {
        font-size: 1.5rem;
      }
    }
    textarea {
      height: 15rem;
      padding: 1.3rem 1rem;
      &::placeholder {
        font-size: 1.5rem;
      }
    }
  }
}

.form-check-label {
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  line-height: 1.7rem;
}

label,
.label {
  font-size: 1.5rem;
  color: #111;
}

li {
  color: #111;
  font-size: 1.7rem;
  line-height: 26px;
}
address {
  color: #111;
  font-size: 1.7rem;
  line-height: 26px;
}

input,
.form-control {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2.5rem;
}

.msg {
  display: block;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: $color-gray-dark-1;
}

.wrap-form {
  position: relative;
  label {
    padding-left: 0.5rem;
  }
}

.error-msg {
  font-size: 1.6rem;
  color: #ff7575;
  position: absolute;
  top: 0;
  right: 1rem;
}
.error-icon {
  width: 100%;
  height: 1px;
  display: none;
  position: relative;
  i {
    font-size: 1.7rem;
    color: red;
    position: absolute;
    top: 2.5rem;
    right: 2rem;
  }
}
.submit__input {
  padding: 0.8rem 4rem;
}

.section__form-update article {
  @include shadow;
  @include radius-direction(1rem, 1rem, 0, 0);
}

label {
  text-transform: capitalize;
}
