/*
    banner search form
*/

.banner {
  &__form {
    padding-top: 5rem;
    padding-bottom: 2rem;
    position: relative;

    @media (min-width: 583px) {
      width: 70%;
    }

    @media (max-width: 582px) {
      width: 100%;
      margin: 0 auto;
    }
  }

  &-search {
    width: 100%;
    padding: 1rem 3.5rem 1rem 1rem;
    border-radius: 0.4rem;
    border: 0.2rem solid $color-primary-1;
    font: {
      size: 1.7rem;
      weight: 400;
    }
    color: $color-primary-text;
    letter-spacing: 1px;
  }

  &__button {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 1.4rem;
    bottom: 2.9rem;

    font: {
      size: 2rem;
    }
    color: $color-btn-1;
  }
}

.section {
  &-profile-update {
    .section-body {
      display: block;

      @media (min-width: 768px) {
        max-width: 80%;
        margin: 0 auto;
      }
    }
  }

  &__form {
    article {
      margin-bottom: 5rem;
    }

    .article {
      &__header {
        padding: 1rem 1rem;
        text-transform: capitalize;
      }

      &-body {
        padding: 1rem 1rem;
      }
    }
    input {
      padding: 1.7rem 1rem;

      &::placeholder {
        font-size: 1.5rem;
      }
    }
    textarea {
      height: 15rem;
      padding: 1.3rem 1rem;
      &::placeholder {
        font-size: 1.5rem;
      }
    }
  }
}

.form-check-label {
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  line-height: 1.7rem;
}

label,
.label {
  font-size: 1.5rem;
}

input,
.form-control {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2.5rem;
}

.msg {
  display: block;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: $color-gray-dark-1;
}

.wrap-form{
  position: relative;
  label{
    padding-left: 0.5rem;
  }
}

.error-msg{
  // display: none;
  color: #ff7575;
  font-size: 1.6rem;
  position: absolute;
  right: 1rem;
  top: 0;
}
