.section {
  &-membership {
    padding: 4rem 0;
  }
}

.member {
  &-block {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #e4e4e4;
    text-align: center;
    @include radius-direction(10px, 10px, 5px, 5px);
    @include shadow;
  }
  &__header {
    @include insetShadow;
    padding: 5rem 0 0;
    @include radius-direction(10px, 10px, 0, 0);
    color: $color-black;
    @include shadow-text(0, 0, 6px, 0.5);

    h1 {
      font-size: 1.5rem;
      font-weight: 300;
    }

    .wrap-price {
      margin-top: 3rem;
      padding: 2rem 0;
      background-color: $color-primary;
      color: $color-white;
    }

    strong {
      display: inline-block;
      font-size: 2.5rem;
      line-height: 2.5rem;
      padding: 1.6rem 0 1rem;
    }

    span {
      display: block;
      font-size: 1.5rem;
      font-weight: 300;
    }
    p {
      padding-top: 2rem;
      color: $color-white;
    }
    em {
      // color: $color-primary;
      font-style: normal;
      font-size: 4rem;
      font-weight: 700;
    }
  }

  &-silver {
    .member__header {
      @include silver;
    }
  }
  &-gold {
    .member__header {
      @include silver;
      // @include gold;
    }
  }
  &-platinum {
    .member__header {
      @include silver;
      // @include platinum;
    }
  }

  &-body {
    padding: 3rem 0;
    background-color: $color-white;
    border-bottom: 1px solid #e6e6e6;
    &__list {
      color: $color-primary;
      i {
        padding-right: 0.5rem;
      }
    }
    p {
      margin: 1.5rem;
      padding-bottom: 1rem;
      text-align: left;
      border-bottom: 1px solid #ebebeb;
    }
    ul {
      padding: 0 3rem;
      li {
        text-align: left;
        line-height: 3rem;
        list-style: square;
        padding-bottom: 2rem;
        font: {
          family: $font-primary;
          size: 1.7rem;
          weight: 500;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    .confirm-agreement {
      font-size: 1.7rem;
    }

    a {
      font-size: 1.7rem;
    }
  }

  &__footer {
    padding: 1rem 0;
    background-color: #e7e7e7;
  }
}