.post {
  &-sections {
    margin-bottom: 3rem;
    border-radius: 10px 10px 5px 5px;
    border-right: 1px solid $color-gray-dark-1;
    border-bottom: 1px solid $color-gray-dark-1;
    border-left: 1px solid $color-gray-dark-1;
    @include bg-1;
  }
  &-header {
    @extend .container-header;
    padding: 1rem 2rem;

    h1 {
      @extend .post-header-typo;
      @include shadow-text(0, 0, 4px, 0.6);

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }

  &-body {
    padding: 0 2rem;
    // border-right: 1px solid $color-gray-light-2;
    // border-left: 1px solid $color-gray-light-2;

    ul {
      // border-bottom: 1px solid $color-gray-light-2;
    }
  }

  &-footer {
    // border-right: 1px solid $color-gray-light-2;
    // border-left: 1px solid $color-gray-light-2;
  }
}
