.post {
  &-sections {
    margin-bottom: 3rem;
    border-radius: 10px 10px 5px 5px;
    border-right: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    border-left: 1px solid #cacaca;
    @include shadow;

    .student-details {
      display: none;
      border-top: 1px solid #cacaca;
      padding: 2rem;
      // @include bg-1;

      // img {
      // width: 100px;
      // height: 100px;
      // border-radius: 50%;
      // @include shadow;
      // }

      i {
        color: #666;
        margin-right: 1rem;
      }
    }
    &-1 {
    }
    &-2 {
    }
    &-3 {
    }
    &-4 {
      @include post-body-4;
    }
    &-5 {
      @include post-body-5;
    }
    &-6 {
      @include post-body-6;
    }
  }

  &-header {
    background: $color-primary-button-hover;
    // @include post-head-3;
    @extend .container-header;
    padding: 1rem 2rem;

    h1 {
      @extend .post-header-typo;
      @include shadow-text(0, 0, 4px, 0.6);

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }

  &-header-set {
  }

  &-header-1 {
    @include post-head-1;
    @extend .container-header-2;
  }

  &-header-2 {
    @include post-head-2;
    @extend .container-header-2;
  }

  &-header-3 {
    @include post-head-3;
    @extend .container-header-2;
  }

  &-header-4 {
    @include post-head-4;
    @extend .container-header-2;
  }

  &-header-5 {
    @include post-head-5;
    @extend .container-header-2;
  }

  &-header-6 {
    @extend .container-header-2;
  }
  h1 {
    @extend .post-header-typo;
    @include shadow-text(0, 0, 4px, 0.6);

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &-body {
    padding: 0 2rem;
    // border-right: 1px solid $color-gray-light-2;
    // border-left: 1px solid $color-gray-light-2;

    ul {
      padding-bottom: 1rem;
      border-bottom: 1px dotted $color-primary;
      margin-bottom: 2rem;
      color: #222;

      i {
        color: #888;
      }
    }
  }

  &-footer {
    padding: 1rem 2rem 2rem;
    // border-right: 1px solid $color-gray-light-2;
    // border-left: 1px solid $color-gray-light-2;
  }
}
.container-bg {
  @include bg-1;
}
