.section {
  &-profile {
  }

  &-body {
    @media (min-width: 583px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .article {
      &-profil {
        margin-bottom: 1.5rem;
        border-radius: 1rem;
        background-color: $color-gray-light-1;
        @include shadow;
      }

      &__header {
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $color-white;
      }

      &-info {
        ul {
          li {
            @media (min-width: 583px) {
              display: flex;
              flex-direction: row;
            }
            &:first-child {
              @media (min-width: 583px) {
                width: 10rem;
              }
            }
          }
        }
      }
    }

    img {
      max-height: 150px;
      min-width: 150px;
      border-radius: 50%;
    }
  }

  &-short {
    &-info {
      background-color: $color-gray-light-1;

      @media (min-width: 583px) {
        width: 30%;
      }
    }
  }

  &-detail {
    &-info {
      @media (min-width: 583px) {
        width: 65%;
      }
    }
  }
}

.article-profile__header {
  @extend .container-header;
}
