.section {
  &-profile {

    figure {
      padding-top: 3rem;
      margin-bottom: 6rem;
      @include shadow-text(0, 0, 4px, 1);
      text-align: center;
      // background-color: #d29900;
      @include bg-1;
      height: 120px;
      width: 100%;
      @include radius-direction(10px, 10px, 0, 0);
    }

    img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: 3px solid #e8e8e8;
    }
  }

  &-body {
    @media (min-width: 583px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .article {
      &-profil {
        margin-bottom: 1.5rem;
        padding-bottom: 2rem;
        @include radius-all(1rem);
        background-color: $color-gray-light-1;
        @include shadow;
        border: 1px solid #cacaca;
      }

      &__header {
        padding-bottom: 7.5rem;
        border-bottom: 1px solid $color-white;
      }

      &-info {
        ul {
          li {
            @media (min-width: 583px) {
              display: flex;
              flex-direction: row;
            }
            &:first-child {
              @media (min-width: 583px) {
                width: 10rem;
              }
            }
          }
        }
      }
    }
  }

  &-short {
    &-info {
      background-color: $color-gray-light-1;

      @media (min-width: 583px) {
        width: 30%;
      }
    }
  }

  &-detail {
    &-info {
      @media (min-width: 583px) {
        width: 65%;
      }
    }
  }
}

.article-profile__header {
  @include post-head-3;
  @extend .container-header;
}
