.search {
  &-section {
    padding: 4rem 0;
    background-color: #cacaca;
  }
  &__form {
    input {
      width: 85%;
      font-size: 1.5rem;
      padding-left: 1rem;
      line-height: 4rem;
    }
  }
  &__button {
    @extend .button-primary;
    // width: 10%;
    i {
      padding-right: 1.5rem;
    }
  }
}

.form-field {
  position: relative;
}

.subject-list,
.city_list {
  position: absolute;
  top: 35px;
  //   background-color: red;
  width: 100%;
  z-index: 99900;
  //   border-right: 2px solid rgb(158, 158, 248);
  //   border-bottom: 2px solid rgb(158, 158, 248);
  //   border-left: 2px solid rgb(158, 158, 248);
  //   @include shadow;
}

.subject-list li,
.city_list li {
  background-color: #fff;
  //   @include bg-1;

  padding: 5px;
  border-right: 1px solid rgb(216, 216, 216);
  border-left: 1px solid rgb(216, 216, 216);
}

.subject-list li,
.city_list li {
  border-bottom: 1px solid rgb(216, 216, 216);
}

.subject-list li:hover,
.city_list li:hover {
  background-color: #e8e8e8;
}
