.section__post {
  position: relative;
}

.tab {
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;

  @media (max-width: 582px) {
    margin-bottom: 2rem;
    padding: 5rem 0 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


.tab button {
  padding: 18px 16px;
  width: 100%;
  border: none;
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  @include shadow;
  @include bg-1;
  text-transform: capitalize;

  @media (min-width: 583px) {
    text-align: left;
  }

  @media (max-width: 582px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}

.tab button:hover {
  color: $color-white;
  @include post-title;

  @media (min-width: 583px) {
  }

  @media (max-width: 582px) {
  }
}

.compose__post {
  display: none;
}

.tab button.active {
  background: $color-primary-button-hover;

  color: $color-white;
  font-weight: 500;

}
