.section {
  &-testimonial {
    padding: 10rem 0;
    // background-color: $color-gray-light-1;
    // background-image: url("../img/bg/bg-1.png");
    // background-repeat: no-repeat;
    // background-position: left;
    @include insetShadow;
    position: relative;

    &::after {
      content: "";
      background-color: $color-gray-light-1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;

      @media (min-width: 583px) {
        // clip-path: polygon(75% 0%, 69% 23%, 100% 100%, 0% 100%, 0 55%, 0% 0%);
        clip-path: polygon(0 0, 76% 0, 48% 100%, 0% 100%);
      }

      @media (max-width: 852px) {
        clip-path: polygon(0 0, 100% 0, 100% 36%, 0 54%);
      }
    }

    &::before {
      content: "";
      // background-color: $color-btn-1;
      @include gradient;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
    }

    // .svg {
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    //   bottom: 0;
    //   z-index: -1;
    // }

    .text-primary {
      //   color: $color-white;
    }

    p {
      //   color: $color-white;
      margin-bottom: 3rem;
    }

    article {
      border-top: 3px solid $color-btn-1;
      padding: 3rem 2rem;
      background-color: $color-white;
      // @include shadow;

      @media (min-width: 583px) {
        // width: 30%;
      }
    }

    figure {
      width: 6rem;
      height: 6rem;
      margin-right: 2rem;
      border: 2px dotted $color-link-1;
      border-radius: 50%;
    }

    footer {
      @media (min-width: 583px) {
        display: flex;
      }
      ul {
        padding: 0.5rem;
      }
    }
  }
}

.testimonial {
  &-client {
    &-name {
      padding-bottom: 0.2rem;
    }
  }
}
