.section {
  &-testimonial {
    padding: 10rem 0;
    @include insetShadow;
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: $color-gray-light-1;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;

      @media (min-width: 583px) {
        clip-path: polygon(0 0, 76% 0, 48% 100%, 0% 100%);
      }

      @media (max-width: 852px) {
        clip-path: polygon(0 0, 100% 0, 100% 36%, 0 54%);
      }
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
    }


    blockquote {
      &::after {
        content: "";

        @media (min-width: 1024px) {
        }
      }

      &::before {
        content: "";

        @media (max-width: 582px) {
          left: 27%;
          top: 35%;
        }
      }
    }

    p {
      margin-bottom: 3rem;
    }

    article {
      height: 30rem;
      margin: 0 5px;
      border: 5px solid $color-primary;
      padding: 3rem 2rem;
      background-color: $color-white;
      @include insetShadow;
      @include radius-all(3rem);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (min-width: 583px) {
      }
    }

    figure {
      width: 6rem;
      height: 6rem;
      margin-right: 2rem;
      border-radius: 50%;
      text-align: center;

      img {
        height: 5.6rem;
        width: 5.6rem;
        @include radius-all(50%);
        padding-top: 2px;
      }
    }

    footer {
      @media (min-width: 583px) {
        display: flex;
      }
      ul {
        padding: 0.5rem;
      }
    }
  }
}

.testimonial {
  &-client {
    &-name {
      padding-bottom: 0.2rem;
    }
  }
}

.top-testimonial {
  border-bottom: 2px solid $color-primary;
}
.public-testimonial{
  article {
   height: auto;
    padding: 0;
    @include radius-all(0.4rem);

  }
}