// shadow box
@mixin insetShadow {
  -webkit-box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
}

@mixin shadow {
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

@mixin shadow-custom($x, $y, $b, $alpha) {
  -webkit-box-shadow: $x $y $b rgba(0, 0, 0, $alpha);
  -moz-box-shadow: $x $y $b rgba(0, 0, 0, $alpha);
  box-shadow: $x $y $b rgba(0, 0, 0, $alpha);
}

// shadow box
@mixin shadow-text($x, $y, $b, $alpha) {
  -webkit-text-shadow: $x $y $b rgba(0, 0, 0, $alpha);
  -moz-text-shadow: $x $y $b rgba(0, 0, 0, $alpha);
  text-shadow: $x $y $b rgba(0, 0, 0, $alpha);
}

// border radius
@mixin radius-all($all) {
  -webkit-border-radius: $all;
  -moz-border-radius: $all;
  border-radius: $all;
}

@mixin radius-direction($top-left, $top-right, $bottom-right, $bottom-left) {
  -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
  -moz-border-radius: $top-left $top-right $bottom-right $bottom-left;
  border-radius: $top-left $top-right $bottom-right $bottom-left;
}

// background
@mixin bg-1 {
  background: rgba(255, 255, 185, 1);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 185, 1) 0%,
    rgba(255, 255, 207, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 185, 1)),
    color-stop(100%, rgba(255, 255, 207, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 185, 1) 0%,
    rgba(255, 255, 207, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 185, 1) 0%,
    rgba(255, 255, 207, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 185, 1) 0%,
    rgba(255, 255, 207, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 185, 1) 0%,
    rgba(255, 255, 207, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffb9', endColorstr='#ffffcf', GradientType=0 );
}

@mixin post-title {
  background-color: #d42a2a;

  background-image: linear-gradient(0deg, #d42a2a, 0%, #993838 100%);

  background: -moz-linear-gradient(top, #d42a2a 0%, #993838 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, #d42a2a),
    color-stop(100%, #993838)
  );
  background: -webkit-linear-gradient(top, #d42a2a 0%, #993838 100%);
  background: -o-linear-gradient(top, #d42a2a 0%, #993838 100%);
  background: -ms-linear-gradient(top, #d42a2a 0%, #993838 100%);
  background: linear-gradient(to bottom, #d42a2a 0%, #993838 100%);
}


// silver header
@mixin silver {
  background: rgba(204, 204, 204, 1);
  background: -moz-linear-gradient(
    top,
    rgba(204, 204, 204, 1) 0%,
    rgba(252, 252, 252, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(204, 204, 204, 1)),
    color-stop(40%, rgba(232, 229, 232, 1)),
    color-stop(100%, rgba(252, 252, 252, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(204, 204, 204, 1) 0%,
    rgba(252, 252, 252, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(204, 204, 204, 1) 0%,
    rgba(252, 252, 252, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(204, 204, 204, 1) 0%,
    rgba(252, 252, 252, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(204, 204, 204, 1) 0%,
    rgba(252, 252, 252, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#fcfcfc', GradientType=0 );
}


@mixin post-border {
  background: rgb(218, 252, 180);
  background: -moz-linear-gradient(
    top,
    rgb(218, 252, 180) 0%,
    rgba(242, 255, 194, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgb(218, 252, 180)),
    color-stop(100%, rgba(242, 255, 194, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgb(218, 252, 180) 0%,
    rgba(242, 255, 194, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgb(218, 252, 180) 0%,
    rgba(242, 255, 194, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgb(218, 252, 180) 0%,
    rgba(242, 255, 194, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(218, 252, 180) 0%,
    rgba(242, 255, 194, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8ffab', endColorstr='#f2ffc2', GradientType=0 );
}

// hover effect
@mixin hover-transition($ms) {
  -webkit-transition: all $ms ease-in-out;
  -moz-transition: all $ms ease-in-out;
  -ms-transition: all $ms ease-in-out;
  -o-transition: all $ms ease-in-out;
  transition: all $ms ease-in-out;
}

@mixin post-head {
                                
  background-color: #970000;
  background-image: linear-gradient(0deg, #970000 0%, #cc0808 50%, #970000 100%);
}

@mixin post-head-hover {
  background-color: #cc0808;
  background-image: linear-gradient(0deg, #cc0808 0%, #970000 50%, #ca0909 100%);
}

@mixin body-scroll {
  background: rgba(255, 230, 168, 1);
  background: -moz-linear-gradient(
    top,
    rgba(255, 230, 168, 1) 0%,
    rgba(253, 246, 231, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 230, 168, 1)),
    color-stop(100%, rgba(253, 246, 231, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 230, 168, 1) 0%,
    rgba(253, 246, 231, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 230, 168, 1) 0%,
    rgba(253, 246, 231, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 230, 168, 1) 0%,
    rgba(253, 246, 231, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 230, 168, 1) 0%,
    rgba(253, 246, 231, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe6a8', endColorstr='#fdf6e7', GradientType=0 );
}

//bg testing

// golden header (require for dashboard)
// @mixin gold {
//   background: rgba(245, 221, 61, 1);
//   background: -moz-linear-gradient(
//     top,
//     rgba(245, 221, 61, 1) 0%,
//     rgba(255, 238, 112, 1) 100%
//   );
//   background: -webkit-gradient(
//     left top,
//     left bottom,
//     color-stop(0%, rgba(245, 221, 61, 1)),
//     color-stop(100%, rgba(255, 238, 112, 1))
//   );
//   background: -webkit-linear-gradient(
//     top,
//     rgba(245, 221, 61, 1) 0%,
//     rgba(255, 238, 112, 1) 100%
//   );
//   background: -o-linear-gradient(
//     top,
//     rgba(245, 221, 61, 1) 0%,
//     rgba(255, 238, 112, 1) 100%
//   );
//   background: -ms-linear-gradient(
//     top,
//     rgba(245, 221, 61, 1) 0%,
//     rgba(255, 238, 112, 1) 100%
//   );
//   background: linear-gradient(
//     to bottom,
//     rgba(245, 221, 61, 1) 0%,
//     rgba(255, 238, 112, 1) 100%
//   );
//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5dd3d', endColorstr='#ffee70', GradientType=0 );
// }

// //platinum header
// @mixin platinum {
//   background: rgba(255, 223, 13, 1);
//   background: -moz-linear-gradient(
//     top,
//     rgba(255, 223, 13, 1) 0%,
//     rgba(255, 233, 89, 1) 100%
//   );
//   background: -webkit-gradient(
//     left top,
//     left bottom,
//     color-stop(0%, rgba(255, 223, 13, 1)),
//     color-stop(100%, rgba(255, 233, 89, 1))
//   );
//   background: -webkit-linear-gradient(
//     top,
//     rgba(255, 223, 13, 1) 0%,
//     rgba(255, 233, 89, 1) 100%
//   );
//   background: -o-linear-gradient(
//     top,
//     rgba(255, 223, 13, 1) 0%,
//     rgba(255, 233, 89, 1) 100%
//   );
//   background: -ms-linear-gradient(
//     top,
//     rgba(255, 223, 13, 1) 0%,
//     rgba(255, 233, 89, 1) 100%
//   );
//   background: linear-gradient(
//     to bottom,
//     rgba(255, 223, 13, 1) 0%,
//     rgba(255, 233, 89, 1) 100%
//   );
// }