// shadow box
@mixin insetShadow {
  -webkit-box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
}

@mixin shadow {
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

// shadow box
@mixin shadow-text($x, $y, $b, $alpha) {
  -webkit-text-shadow: $x $y $b rgba(0, 0, 0, $alpha);
  -moz-text-shadow: $x $y $b rgba(0, 0, 0, $alpha);
  text-shadow: $x $y $b rgba(0, 0, 0, $alpha);
}

@mixin gradient {
  background: #8aafff;
  background: -moz-linear-gradient(left, #8aafff 0%, #8aafff 41%, #5388fe 100%);
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #8aafff),
    color-stop(41%, #8aafff),
    color-stop(100%, #5388fe)
  );
  background: -webkit-linear-gradient(
    left,
    #8aafff 0%,
    #8aafff 41%,
    #5388fe 100%
  );
  background: -o-linear-gradient(left, #8aafff 0%, #8aafff 41%, #5388fe 100%);
  background: -ms-linear-gradient(left, #8aafff 0%, #8aafff 41%, #5388fe 100%);
  background: linear-gradient(to right, #8aafff 0%, #8aafff 41%, #5388fe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8aafff', endColorstr='#5388fe', GradientType=1 );
}

@mixin bannergradient {
  background: #8aafff;
  background: -moz-linear-gradient(left, #8aafff 0%, #8aafff 41%, #5388fe 100%);
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #8aafff),
    color-stop(41%, #8aafff),
    color-stop(100%, #5388fe)
  );
  background: -webkit-linear-gradient(
    left,
    #8aafff 0%,
    #8aafff 41%,
    #5388fe 100%
  );
  background: -o-linear-gradient(left, #8aafff 0%, #8aafff 41%, #5388fe 100%);
  background: -ms-linear-gradient(left, #8aafff 0%, #8aafff 41%, #5388fe 100%);
  background: linear-gradient(to right, #8aafff 0%, #8aafff 41%, #5388fe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8aafff', endColorstr='#5388fe', GradientType=1 );
}

// background
@mixin bg-1 {
  background: #fcfcfc;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #fcfcfc 0%,
    #f6f6f6 47%,
    #cacaca 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, #fcfcfc),
    color-stop(47%, #f6f6f6),
    color-stop(100%, #cacaca)
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #fcfcfc 0%,
    #f6f6f6 47%,
    #cacaca 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    #fcfcfc 0%,
    #f6f6f6 47%,
    #cacaca 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    #fcfcfc 0%,
    #f6f6f6 47%,
    #cacaca 100%
  );
  background: radial-gradient(
    ellipse at center,
    #fcfcfc 0%,
    #f6f6f6 47%,
    #cacaca 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#cacaca', GradientType=1 );
}

@mixin bgheader{
  background-color: #bebebe;
  background: linear-gradient(#dadada, #aeaeae);
}

@mixin post-head-1 {
  background-color: #5b6467;
  background-image: linear-gradient(
    30deg,
    #5b6467 0%,
    #8b939a 50%,
    #5b6467 100%
  );
}

@mixin post-head-2 {
  background: rgba(30,73,78,1);
  background: -moz-linear-gradient(top, rgba(30,73,78,1) 0%, rgba(29,145,158,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(30,73,78,1)), color-stop(100%, rgba(29,145,158,1)));
  background: -webkit-linear-gradient(top, rgba(30,73,78,1) 0%, rgba(29,145,158,1) 100%);
  background: -o-linear-gradient(top, rgba(30,73,78,1) 0%, rgba(29,145,158,1) 100%);
  background: -ms-linear-gradient(top, rgba(30,73,78,1) 0%, rgba(29,145,158,1) 100%);
  background: linear-gradient(to bottom, rgba(30,73,78,1) 0%, rgba(29,145,158,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e494e', endColorstr='#1d919e', GradientType=0 );
}

@mixin post-head-3{
  background: rgba(102,102,102,1);
background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(179,179,179,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,102,102,1)), color-stop(100%, rgba(179,179,179,1)));
background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(179,179,179,1) 100%);
background: -o-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(179,179,179,1) 100%);
background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(179,179,179,1) 100%);
background: linear-gradient(to bottom, rgba(102,102,102,1) 0%, rgba(179,179,179,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#b3b3b3', GradientType=0 );
}

@mixin post-head-4 {
  background: rgba(32,124,229,1);
background: -moz-linear-gradient(top, rgba(32,124,229,1) 0%, rgba(73,155,234,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(32,124,229,1)), color-stop(100%, rgba(73,155,234,1)));
background: -webkit-linear-gradient(top, rgba(32,124,229,1) 0%, rgba(73,155,234,1) 100%);
background: -o-linear-gradient(top, rgba(32,124,229,1) 0%, rgba(73,155,234,1) 100%);
background: -ms-linear-gradient(top, rgba(32,124,229,1) 0%, rgba(73,155,234,1) 100%);
background: linear-gradient(to bottom, rgba(32,124,229,1) 0%, rgba(73,155,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#499bea', GradientType=0 );
}

@mixin post-head-5{
  
background: rgba(66,49,68,1);
background: -moz-linear-gradient(top, rgba(66,49,68,1) 0%, rgba(79,57,82,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,49,68,1)), color-stop(100%, rgba(79,57,82,1)));
background: -webkit-linear-gradient(top, rgba(66,49,68,1) 0%, rgba(79,57,82,1) 100%);
background: -o-linear-gradient(top, rgba(66,49,68,1) 0%, rgba(79,57,82,1) 100%);
background: -ms-linear-gradient(top, rgba(66,49,68,1) 0%, rgba(79,57,82,1) 100%);
background: linear-gradient(to bottom, rgba(66,49,68,1) 0%, rgba(79,57,82,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#423144', endColorstr='#4f3952', GradientType=0 );

}
@mixin post-border {
  border: 1px solid #5b6467;
  border-image: linear-gradient(30deg, #5b6467 0%, #8b939a 50%, #5b6467 100%);
}

@mixin post-head-hover {
  background-color: #cc0808;

  background-image: linear-gradient(
    0deg,
    #cc0808 0%,
    #970000 50%,
    #ca0909 100%
  );
}

@mixin post-head {
  background-color: #970000;

  background-image: linear-gradient(
    0deg,
    #970000 0%,
    #cc0808 50%,
    #970000 100%
  );
}

// hover effect
@mixin hover-transition($ms) {
  -webkit-transition: all $ms ease-in;
  -moz-transition: all $ms ease-in;
  -ms-transition: all $ms ease-in;
  -o-transition: all $ms ease-in;
  transition: all $ms ease-in;
}

// border radius
@mixin radius-all($all) {
  -webkit-border-radius: $all;
  -moz-border-radius: $all;
  border-radius: $all;
}

@mixin radius-direction($top-left, $top-right, $bottom-right, $bottom-left) {
  -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
  -moz-border-radius: $top-left $top-right $bottom-right $bottom-left;
  border-radius: $top-left $top-right $bottom-right $bottom-left;
}