$color-primary: #454b69;
$color-primary-1: #606060;

$color-white: #ffffff;
// $color-dark: ;

$color-btn-1: #5388fe;

$color-link-1: #ff736d;

$color-yellow-dark-1: #ffdb51;
$color-gray-dark-1: rgb(100, 100, 100);
$color-gray-light-1: rgb(247, 247, 247);
$color-gray-light-2: rgb(231, 231, 231);

// font variable
$font-primary: "open sans";
$font-header-1: "open sans";
$font-header-2: "open sans";
